// VARIABLES
$main-color: #4d4d4d;
$brown: #a73d0d;
$main-font: "PingFang TC";
$ultraligh: 100;
$light: 200;
$thin: 300;

// GENERAL
html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang TC", "Segoe UI",
    "Noto Sans TC", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "Source Han Sans TC", sans-serif;
  font-weight: $light;
  // -apple-system,       /* iOS Safari, macOS Safari, macOS Firefox */
  // BlinkMacSystemFont,  /* macOS Chrome */
  // 'PingFang TC',       /* 蘋方 */
  // 'Segoe UI',          /* Windows, Windows Phone */
  // 'Noto Sans TC',      /* Google: 思源黑體 */
  // Roboto,              /* Google: Android, Chrome OS */
  // Ubuntu,              /* Linux: Ubanto */
  // 'Helvetica Neue'     /* OS X pre-EI Capitan */
  // Helvetica,
  // Arial,               /* Windows 3.1 */
  // 'Source Han Sans TC' /* Google: 思源黑體 */
  // sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// END OF GENERAL

// FIXBG
.fixbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &__img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &__maker {
    background: url("../../../assets/images/fixbg_maker.jpeg") center center
      no-repeat;
    background-size: cover;
  }
  &__fashion {
    background: url("../../../assets/images/fixbg_fashion.jpg") center center
      no-repeat;
    background-size: cover;
    display: none;
  }
  &__pure {
    background: url("../../../assets/images/fixbg_pure.jpg") center center
      no-repeat;
    background-size: cover;
    display: none;
  }
}
// MAINCONTENT
.maincontent {
  // 設計稿：1440px
  position: relative;
  z-index: 1;

  // SECTION 1
  &__bg {
    position: relative;
    width: 100vw;

    .bg {
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
    .bg__1 {
      background-image: url("../../../assets/images/bg-1.png");
      height: 2614px;
    }
    .bg__2 {
      background-image: url("../../../assets/images/bg-2.png");
      height: 1499px;
      margin-top: 552px;
    }
    .bg__3 {
      background-image: url("../../../assets/images/bg-3.png");
      height: 2100.7px;
      margin-top: 531px;
    }
    .bg__4 {
      background-image: url("../../../assets/images/bg-4.png");
      height: 2107px;
      margin-top: 1120.3px;
    }
    .bg__footer {
      width: 100vw;
      height: 212px;
      background-color: #fff;
    }
  }

  &__overlay,
  &__content {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  &__overlay {
    .overlay__obj {
      position: absolute;
    }
    .obj__1 {
      width: 482px;
      height: 521px;
      top: -43px;
      left: -25px;
    }
    .obj__2 {
      width: 601px;
      height: 321px;
      top: -5px;
      right: 0;
    }
    .obj__3 {
      width: 493px;
      height: 773px;
      top: 655px;
      left: 0;
    }
    .obj__4 {
      width: 612px;
      height: 1090px;
      top: 521px;
      right: -58px;
    }
    .obj__3--mobile {
      display: none;
      visibility: hidden;
    }
    .obj__5 {
      width: 565px;
      height: 814px;
      top: 3915px;
      left: 0px;
    }
    .obj__6 {
      width: 445px;
      height: 731px;
      top: 3166px;
      right: 0px;
    }
    .obj__7 {
      width: 302px;
      height: 960px;
      top: 5182px;
      left: 0px;
    }
    .obj__8 {
      width: 787px;
      height: 553px;
      top: 5860px;
      right: 0px;
    }
    .obj__9 {
      width: 305px;
      height: 462px;
      top: 6538px;
      right: 0px;
    }
    .obj__sakura {
      width: 1088px;
      height: 625px;
      top: 8579px;
      left: 141px;
    }
    .obj__10 {
      width: 376px;
      height: 455px;
      top: 8892px;
      left: 0px;
    }
    .obj__11 {
      width: 394px;
      height: 584px;
      top: 8962px;
      right: 0px;
    }
  }

  &__content {
    .content {
      position: absolute;
    }
    // HEAD
    .content__title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      position: absolute;
      top: 343px;
      left: 50%;
      transform: translateX(-50%);

      .title__logo {
        width: 210.8px;
        height: 26.9px;
      }
      .title__sub,
      .title__third {
        font-weight: inherit;
        font-family: $main-font;
        color: $main-color;
        text-align: center;
      }
      .title__sub {
        min-width: 454px;
        font-size: 24px;
        letter-spacing: 12px;
        padding: 12.6px 53.5px 15.4px 53.5px;
        border: 0.75px solid $main-color;
        border-radius: 31px;
        margin: 53.11px auto 29px auto;
      }
      .title__third {
        font-size: 21px;
        letter-spacing: 6.3px;
        margin-bottom: 113px;
      }
      .title__scroll {
        width: 51px;
        height: 99.5px;
      }
    }
    .content__card-list {
      top: 904px;
      left: 60.3vw;
      display: flex;
      flex-direction: row;

      .content__card {
        width: 311px;
        height: 417px;
        border-radius: 45px;
        box-shadow: 0px 7px 20px #acb9ba;
        margin-right: 41px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        cursor: pointer;

        .card__info {
          width: 100%;
          margin: 18px 16px;
          padding: 16px 11px 11px 11px;
          border-radius: 38px;
          background-color: #fff;
          text-align: center;
          .card__title {
            line-height: 25px;
            letter-spacing: 2.7px;
            font-size: 18px;
            color: $main-color;
            padding-bottom: 6.5px;
          }
          .card__price {
            line-height: 21px;
            letter-spacing: 0px;
            font-size: 18px;
            color: $brown;
          }
        }
      }
      .card--1 {
        background-image: url("../../../assets/images/prod-1.png");
      }
      .card--2 {
        background-image: url("../../../assets/images/prod-2.png");
      }
      .card--3 {
        background-image: url("../../../assets/images/prod-3.png");
      }
    }
    .content__slogan {
      top: 2109px;
      left: 175px;
      width: 692px;
      margin: 0;
      font-size: 80px;
      font-family: $main-font;
      font-weight: inherit;
      color: $main-color;
      letter-spacing: 24px;
      line-height: 116px;
    }
    .content__brand-serif {
      top: 2486px;
      right: 132px;
      width: 110px;
      height: 128px;
    }
    // END OF HEAD
    // PRODUCT
    .content__disp--1 {
      width: 521px;
      height: 551px;
      top: 4171px;
      right: 399px;
    }
    .content__disp--2 {
      width: 289px;
      height: 443px;
      top: 4131px;
      right: 131px;
    }
    .content__disp--3 {
      width: 447px;
      height: 408px;
      top: 3839px;
      right: 95px;
    }
    .content__brand-serif--white {
      width: 117px;
      height: 136px;
      top: 4773px;
      left: 151px;
    }
    .content__cure {
      top: 3554px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cure__slogan,
      .cure__sub,
      .cure__see-more {
        font-family: $main-font;
        color: $main-color;
        text-align: center;
      }
      .cure__slogan {
        font-weight: $ultraligh;
        font-size: 80px;
        letter-spacing: 20px;
        line-height: 120.5px;
        margin: 0px auto 68.3px auto;
      }
      .cure__sub {
        font-weight: $light;
        font-size: 18px;
        letter-spacing: 5.4px;
        line-height: 30.5px;
        margin: 0px auto 71.6px auto;
      }
      .cure__see-more {
        font-weight: $thin;

        width: 382px;
        height: 95px;
        background-color: #ffffff;
        border-radius: 48px;
        box-shadow: 0px 7px 20px #acb9babf;

        text-align: center;
        line-height: 95px;
        font-size: 24px;
        letter-spacing: 6px;
      }
    }
    // END OF PRODUCT
    // INGREDIENT
    .content__ingredient-label {
      width: 710px;
      height: 83px;
      top: 5474px;
      right: 3.75vw;
    }
    .content__ingredient-list {
      top: 5830px;
      right: 332.64px;
      .ingerdient__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 600px;
        height: 153.71px;
        span {
          font-weight: $light;
          font-size: 20px;
          font-family: $main-font;
          color: $main-color;
          letter-spacing: 5px;
        }
        svg {
          width: 153.709px;
          height: 153.709px;
        }
      }
      .ingerdient__item--2 {
        transform: translate(-181.33px, -42px);
      }
      .ingerdient__item--3 {
        transform: translate(-303.33px, -63px);
      }
    }
    // END OF INGREDIENT
  }

  // 1440px 以上等比例放大
  @media screen and (min-width: 1441px) {
    &__bg {
      .bg__1 {
        height: 181.6vw;
      }
      .bg__2 {
        height: 104.1vw;
        margin-top: 38.4vw;
      }
      .bg__3 {
        height: 145.9vw;
        margin-top: 36.9vw;
      }
      .bg__4 {
        height: 146.3vw;
        margin-top: 77.8vw;
      }
      .bg__footer {
        height: 14.7vw;
      }
    }

    &__overlay {
      .obj__1 {
        width: 33.5vw;
        height: 36.2vw;
        top: -3vw;
        left: -1.6vw;
      }
      .obj__2 {
        width: 41.7vw;
        height: 22.3vw;
        top: -0.3vw;
        right: 0;
      }
      .obj__3 {
        width: 34.2vw;
        height: 53.7vw;
        top: 46.2vw;
        left: 0;
      }
      .obj__4 {
        width: 42.5vw;
        height: 75.7vw;
        top: 35.6vw;
        right: -4vw;
      }
      .obj__5 {
        width: 39.2vw;
        height: 56.5vw;
        top: 271.88vw;
        left: 0px;
      }
      .obj__6 {
        width: 30.9vw;
        height: 50.76vw;
        top: 219.9vw;
        right: 0px;
      }
      .obj__7 {
        width: 21vw;
        height: 66.7vw;
        top: 359.9vw;
        left: 0px;
      }
      .obj__8 {
        width: 54.65vw;
        height: 38.4vw;
        top: 406.9vw;
      }
      .obj__9 {
        width: 21.2vw;
        height: 32.1vw;
        top: 454vw;
      }
      .obj__sakura {
        width: 75.6vw;
        height: 43.4vw;
        top: 595.8vw;
        left: 9.8vw;
      }
      .obj__10 {
        width: 26.1vw;
        height: 31.6vw;
        top: 617.5vw;
      }
      .obj__11 {
        width: 27.4vw;
        height: 40.6vw;
        top: 622.36vw;
      }
    }

    &__content {
      // HEAD
      .content__title {
        top: 23.82vw;

        .title__logo {
          width: 14.63vw;
          height: 1.868vw;
        }
        .title__sub {
          min-width: 31.53vw;
          font-size: 1.67vw;
          letter-spacing: 0.83vw;
          padding: 0.875vw 3.715vw 1.07vw 3.715vw;
          border: 0.75px solid $main-color;
          border-radius: 2vw;
          margin: 3.69vw auto 2.01vw auto;
        }
        .title__third {
          font-size: 1.46vw;
          letter-spacing: 0.4375vw;
          margin-bottom: 7.85vw;
        }
        .title__scroll {
          width: 3.54vw;
          height: 6.9vw;
        }
      }
      .content__slogan {
        top: 146.46vw;
        left: 12.15vw;
        width: 48.06vw;
        font-size: 5.56vw;
        letter-spacing: 1.67vw;
        line-height: 8.06vw;
      }
      .content__brand-serif {
        top: 172.64vw;
        right: 9.17vw;
        width: 7.64vw;
        height: 8.89vw;
      }
      .content__card-list {
        top: 62.78vw;
        left: 60.3vw;

        .content__card {
          width: 21.6vw;
          height: 29vw;
          border-radius: 3.13vw;
          margin-right: 2.85vw;

          .card__info {
            margin: 1.25vw 1.11vw;
            padding: 1.11vw 0.76vw 0.76vw 0.76vw;
            border-radius: 2.64vw;
            .card__title {
              line-height: 1.74vw;
              letter-spacing: 0.188vw;
              font-size: 1.25vw;
              padding-bottom: 0.45vw;
            }
            .card__price {
              line-height: 1.46vw;
              font-size: 1.25vw;
            }
          }
        }
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        width: 36.2vw;
        height: 38.3vw;
        top: 289.7vw;
        right: 27.7vw;
      }
      .content__disp--2 {
        width: 20.1vw;
        height: 30.8vw;
        top: 286.9vw;
        right: 9.1vw;
      }
      .content__disp--3 {
        width: 31vw;
        height: 28.3vw;
        top: 266.6vw;
        right: 6.6vw;
      }
      .content__brand-serif--white {
        width: 8.1vw;
        height: 9.4vw;
        top: 331.5vw;
        left: 10.5vw;
      }
      .content__cure {
        top: 246.8vw;

        .cure__slogan {
          font-size: 5.56vw;
          letter-spacing: 1.39vw;
          line-height: 8.37vw;
          margin: 0px auto 4.74vw auto;
        }
        .cure__sub {
          font-size: 1.25vw;
          letter-spacing: 0.375vw;
          line-height: 2.19vw;
          margin: 0px auto 5vw auto;
        }
        .cure__see-more {
          width: 26.5vw;
          height: 6.6vw;
          border-radius: 9.9vw;

          line-height: 6.6vw;
          font-size: 1.7vw;
          letter-spacing: 0.42vw;
        }
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 49.3vw;
        height: 5.76vw;
        top: 380.1vw;
        right: 3.75vw;
      }
      .content__ingredient-list {
        top: 404.86vw;
        right: 23.1vw;
        .ingerdient__item {
          width: 41.67vw;
          height: 10.67vw;
          span {
            font-size: 1.4vw;
            letter-spacing: 0.35vw;
          }
          svg {
            width: 10.67vw;
            height: 10.67vw;
          }
        }
        .ingerdient__item--2 {
          transform: translate(-12.6vw, -2.9vw);
        }
        .ingerdient__item--3 {
          transform: translate(-21vw, -4.38vw);
        }
      }
      // END OF INGREDIENT
    }
  }

  // 設計稿：1024px 以上
  @media screen and (max-width: 1280px) {
    &__overlay {
      .obj__2 {
        right: -222px;
      }
      .obj__4 {
        right: -185px;
      }
      .obj__7 {
        left: -45px;
      }
      .obj__8 {
        top: 5837px;
        right: -217px;
      }
      .obj__9 {
        top: 6500px;
      }
      .obj__sakura {
        left: -32px;
      }
      .obj__10 {
        left: -163px;
      }
      .obj__11 {
        right: -243px;
      }
    }

    &__content {
      // HEAD
      .content__slogan {
        left: 107px;
      }
      .content__brand-serif {
        right: 89px;
      }
      .content__card-list {
        left: 59vw;
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        right: 27.1vw;
      }
      .content__disp--2 {
        right: 1vw;
      }
      .content__disp--3 {
        right: -2.5vw;
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 717px;
        height: 120px;
        top: 5416px;
        right: 0vw;
      }
      .content__ingredient-list {
        top: 5807px;
        right: 115.64px;
      }
      // END OF INGREDIENT
    }
  }

  // 設計稿：768px 以上
  @media screen and (max-width: 1023px) {
    &__bg {
      .bg__1 {
        background-position-x: 35%;
      }
    }

    &__overlay {
      .obj__2 {
        right: -452px;
      }
      .obj__3 {
        top: 619px;
        left: -44px;
      }
      .obj__4 {
        top: 528px;
        right: -441px;
      }
      .bg__footer {
        height: 321px;
      }
      .obj__6 {
        right: -29px;
      }
      .obj__7 {
        width: 212px;
        height: 678px;
        top: 5209px;
        left: -40px;
      }
      .obj__8 {
        width: 712px;
        height: 501px;
        top: 5745px;
        right: -180px;
      }
      .obj__9 {
        top: 6455px;
        right: -129px;
      }
      .obj__sakura {
        width: 876px;
        height: 503px;
        top: 8600px;
        left: -39px;
      }
      .obj__10 {
        width: 285px;
        height: 344px;
        top: 8507px;
        left: -9px;
      }
      .obj__11 {
        width: 212px;
        height: 314px;
        top: 9004px;
        right: -55px;
      }
    }

    &__content {
      // HEAD
      .content__slogan {
        left: 38px;
      }
      .content__brand-serif {
        right: 61px;
      }
      .content__card-list {
        left: 46.6vw;
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        right: 26.7vw;
      }
      .content__disp--2 {
        right: -8.2vw;
      }
      .content__disp--3 {
        right: -12.9vw;
      }
      .content__cure {
        min-width: 642px;
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 538px;
        height: 90px;
        top: 5435px;
        right: 2.6vw;
      }
      .content__ingredient-list {
        top: 5714px;
        right: 116.75px;
      }
      .content__ingredient-list {
        top: 5718px;
        right: 120.95px;
        .ingerdient__item {
          width: 500px;
          height: 138.34px;
          span {
            font-size: 18px;
            letter-spacing: 4.5px;
          }
          svg {
            width: 138.34px;
            height: 138.34px;
          }
        }
        .ingerdient__item--2 {
          transform: translate(-165.37px, -37.8px);
        }
        .ingerdient__item--3 {
          transform: translate(-265.26px, -60.7px);
        }
      }
      // END OF INGREDIENT
    }
  }

  // 設計稿：手機版
  @media screen and (max-width: 767px) {
    &__bg {
      .bg__1 {
        height: 1847px;
        background-position-x: center;
      }
      .bg__2 {
        height: 1059px;
        margin-top: 315px;
      }
      .bg__3 {
        height: 1350px;
        margin-top: 287px;
      }
      .bg__4 {
        height: 1303px;
        margin-top: 611px;
        margin-bottom: -40px;
      }
      .bg__footer {
        height: 560px;
      }
    }

    &__overlay {
      .obj__1 {
        width: 187px;
        height: 202px;
        top: 0px;
        left: 0px;
      }
      .obj__2 {
        width: 300px;
        height: 160px;
        top: 0px;
        right: -93px;
      }
      .obj__3 {
        width: 253px;
        height: 396px;
        top: 514px;
        left: -27px;
      }
      .obj__3--mobile {
        position: absolute;
        display: block;
        visibility: visible;
        width: 188px;
        height: 296px;
        left: -23px;
        top: 1750px;
      }
      .obj__4 {
        width: 222px;
        height: 395px;
        top: 293px;
        right: -54px;
      }
      .obj__5 {
        width: 194px;
        height: 365px;
        top: 2952px;
        left: -59px;
      }
      .obj__6 {
        width: 230px;
        height: 378px;
        top: 2226px;
        right: -55px;
      }
      .obj__7 {
        width: 131px;
        height: 416px;
        top: 3470px;
        left: -78px;
      }
      .obj__8 {
        width: 403px;
        height: 283px;
        top: 3869px;
        right: -141px;
      }
      .obj__9 {
        width: 124px;
        height: 188px;
        top: 4585px;
        right: -7px;
      }
      .obj__sakura {
        width: 577px;
        height: 331px;
        top: 5652px;
        left: -73px;
      }
      .obj__10 {
        width: 215px;
        height: 259px;
        top: 5513px;
        left: 0px;
      }
      .obj__11 {
        width: 150px;
        height: 222px;
        top: 5885px;
        right: -111px;
      }
    }

    &__content {
      // HEAD
      .content__title {
        top: 209px;

        .title__logo {
          width: 125px;
          height: 16px;
        }
        .title__sub {
          min-width: 267px;
          font-size: 15px;
          letter-spacing: 7.5px;
          padding: 7.6px 24px 7.4px 24px;
          border: 0.75px solid $main-color;
          border-radius: 25px;
          margin: 31.1px auto 16.9px auto;
        }
        .title__third {
          font-size: 13px;
          letter-spacing: 3.9px;
          margin-bottom: 87.1px;
        }
      }
      .content__slogan {
        top: 1516px;
        left: 29px;
        width: 354px;
        font-size: 50px;
        letter-spacing: 15px;
        line-height: 72.5px;
      }
      .content__brand-serif {
        top: 1734px;
        right: 30px;
        width: 67px;
        height: 77px;
      }

      .content__card-list {
        top: 590px;
        left: 33.8vw;

        .content__card {
          width: 226px;
          height: 303px;
          margin-right: 25px;

          .card__info {
            margin: 18px;
            padding: 10.8px 18px 6.75px 18px;
            border-radius: 27px;
            .card__title {
              line-height: 18px;
              letter-spacing: 1.95px;
              font-size: 13px;
              padding-bottom: 3.4px;
            }
            .card__price {
              line-height: 15px;
              font-size: 13px;
            }
          }
        }
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        width: 353px;
        height: 373px;
        top: 2814px;
        right: 90px;
      }
      .content__disp--2 {
        width: 195px;
        height: 299px;
        top: 2922px;
        right: -38px;
      }
      .content__disp--3 {
        width: 303px;
        height: 276px;
        top: 2615px;
        right: -128px;
      }
      .content__brand-serif--white {
        top: 3334px;
        left: 64px;
        width: 67px;
        height: 77px;
      }
      .content__cure {
        top: 2459px;
        min-width: 354px;

        .cure__slogan {
          font-size: 50px;
          letter-spacing: 12.5px;
          line-height: 72.5px;
          margin: 0px auto 53.3px auto;
        }
        .cure__sub {
          font-size: 13px;
          letter-spacing: 3.25px;
          line-height: 21.5px;
          margin: 0px auto 53px auto;
        }
        .cure__see-more {
          width: 280px;
          height: 60px;
          border-radius: 60px;

          line-height: 60px;
          font-size: 15px;
          letter-spacing: 3.75px;
        }
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 299px;
        height: 50px;
        top: 3678px;
        right: 4.3vw;
      }
      .content__ingredient-list {
        top: 3849.28px;
        right: 33.28px;
        .ingerdient__item {
          width: 300px;
          height: 101.4px;
          span {
            font-size: 13px;
            letter-spacing: 3.25px;
          }
          svg {
            width: 101.4px;
            height: 101.4px;
          }
        }
        .ingerdient__item--2 {
          transform: translate(-94px, -37px);
        }
        .ingerdient__item--3 {
          transform: translate(-150px, -65.7px);
        }
      }
      // END OF INGREDIENT
    }
  }
}
// MENU
