// VARIABLES
$main-color: #4d4d4d;
$second-color: #8d8d8d;
$brown: #a73d0d;
$main-font: "PingFang TC";
$ultraligh: 100;
$light: 200;
$thin: 300;
$regular: 400;
$semi-bold: 600;

// GENERAL
html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang TC", "Segoe UI",
    "Noto Sans TC", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "Source Han Sans TC", sans-serif;
  font-weight: $light;
  // -apple-system,       /* iOS Safari, macOS Safari, macOS Firefox */
  // BlinkMacSystemFont,  /* macOS Chrome */
  // 'PingFang TC',       /* 蘋方 */
  // 'Segoe UI',          /* Windows, Windows Phone */
  // 'Noto Sans TC',      /* Google: 思源黑體 */
  // Roboto,              /* Google: Android, Chrome OS */
  // Ubuntu,              /* Linux: Ubanto */
  // 'Helvetica Neue'     /* OS X pre-EI Capitan */
  // Helvetica,
  // Arial,               /* Windows 3.1 */
  // 'Source Han Sans TC' /* Google: 思源黑體 */
  // sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// END OF GENERAL

// LOADING
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #EFF2F3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    img {
      width: 117px;
      height: 136px;
    }
  }
  &__percent {
    display: flex;
    align-items: center;
    color: $main-color;
    font-weight: $regular;
    font-size: 30px;
    span {
      margin-right: 13px;
    }
    img {
      width: 13px;
      height: 14px;
    }
  }
  @media screen and (max-width: 767px){
    &__container {
      width: 220px;
    }
    &__container img {
      width: 85px;
      height: 99px;
    }
    &__percent {
      font-size: 22px;
    }
    &__percent img {
      width: 10px;
      height: 10px;
    }
  }
}

// FIXBG
.fixbg {
  position: fixed;
  top: -50px;
  left: -50px;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  z-index: -1;

  &__img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &__maker {
    background: url("~@img/fixbg_maker.jpeg") center center no-repeat;
    background-size: cover;
  }
  &__fashion {
    background: url("~@img/fixbg_fashion.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;

    .fixbg__fashion-obj {
      position: absolute;
    }
    .fashion-obj--1 {
      width: 452px;
      height: 456px;
      top: -100px;
      right: 133px;
    }
    .fashion-obj--2 {
      width: 397px;
      height: 486px;
      top: 326px;
      right: 188px;
    }
    .fashion-obj--3 {
      width: 596px;
      height: 621px;
      top: 440px;
      right: 562px;
    }
  }
  &__pure {
    background: url("~@img/fixbg_pure.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
  }

  // 1440px 以上等比例放大
  @media screen and (min-width: 1441px) {
    &__fashion {
      .fashion-obj--1 {
        width: 31.4vw;
        height: 31.67vw;
        top: -6.9vw;
        right: 9.2vw;
      }
      .fashion-obj--2 {
        width: 27.57vw;
        height: 33.75vw;
        top: 22.64vw;
        right: 13.05vw;
      }
      .fashion-obj--3 {
        width: 41.4vw;
        height: 43.1vw;
        top: 30.56vw;
        right: 39vw;
      }
    }
  }

  // 設計稿：1024px 以上
  @media screen and (max-width: 1280px) {
    &__maker {
      background-size: auto 127%;
    }
  }

  // 設計稿：768px 以上
  @media screen and (max-width: 1023px) {
    &__maker {
      background-size: auto 120%;
    }
    &__fashion {
      background-size: auto 140%;
      background-position-x: 62%;
    }
    .fashion-obj--1 {
      right: -123px;
    }
    .fashion-obj--2 {
      right: -68px;
    }
    .fashion-obj--3 {
      right: 306px;
    }
  }

  // 設計稿：手機版
  @media screen and (max-width: 767px) {
    &__fashion {
      background-position-x: 72%;
      .fashion-obj--1 {
        width: 205px;
        height: 206px;
        top: 0px;
        right: -6px;
      }
      .fashion-obj--2 {
        width: 180px;
        height: 221px;
        top: 192px;
        right: 20px;
      }
      .fashion-obj--3 {
        width: 270px;
        height: 281px;
        top: 260px;
        right: 192px;
      }
    }
  }
}
// MAINCONTENT
.maincontent {
  // 設計稿：1440px
  position: relative;
  z-index: 1;

  // SECTION 1
  &__bg {
    position: relative;
    width: 100vw;

    .bg {
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
    .bg__1 {
      background-image: url("~@img/bg-1.png");
      height: 2614px;
    }
    .bg__2 {
      background-image: url("~@img/bg-2.png");
      height: 1499px;
      margin-top: 552px;
    }
    .bg__3 {
      background-image: url("~@img/bg-3.png");
      height: 2100.7px;
      margin-top: 531px;
    }
    .bg__4 {
      background-image: url("~@img/bg-4.png");
      height: 2107px;
      margin-top: 1120.3px;
    }
    .bg__footer {
      width: 100vw;
      height: 212px;
      background-color: #fff;
    }
  }

  &__overlay,
  &__content {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  &__overlay {
    .overlay__obj {
      position: absolute;
    }
    .obj__1 {
      width: 482px;
      height: 521px;
      top: -43px;
      left: -25px;
    }
    .obj__2 {
      width: 601px;
      height: 321px;
      top: -5px;
      right: 0;
    }
    .obj__3 {
      width: 493px;
      height: 773px;
      top: 655px;
      left: 0;
    }
    .obj__4 {
      width: 612px;
      height: 1090px;
      top: 521px;
      right: -58px;
    }
    .obj__3--mobile {
      display: none;
      visibility: hidden;
    }
    .obj__5 {
      width: 565px;
      height: 814px;
      top: 3915px;
      left: 0px;
    }
    .obj__6 {
      width: 445px;
      height: 731px;
      top: 3166px;
      right: 0px;
    }
    .obj__7 {
      width: 302px;
      height: 960px;
      top: 5182px;
      left: 0px;
    }
    .obj__8 {
      width: 787px;
      height: 553px;
      top: 5860px;
      right: 0px;
    }
    .obj__9 {
      width: 305px;
      height: 462px;
      top: 6538px;
      right: 0px;
    }
    .obj__sakura {
      width: 1088px;
      height: 625px;
      top: 8579px;
      left: 141px;
    }
    .obj__10 {
      width: 376px;
      height: 455px;
      top: 8892px;
      left: 0px;
    }
    .obj__11 {
      width: 394px;
      height: 584px;
      top: 8962px;
      right: 0px;
    }
  }

  &__content {
    .content {
      position: absolute;
    }
    // HEAD
    .brand-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .title__logo {
        width: 210.8px;
        height: 26.9px;
      }
      .title__sub,
      .title__third {
        font-weight: inherit;
        font-family: $main-font;
        color: $main-color;
        text-align: center;
      }
      .title__sub {
        max-width: 454px;
        font-size: 24px;
        letter-spacing: 12px;
        padding: 12.6px 53.5px 15.4px 53.5px;
        border: 0.75px solid $main-color;
        border-radius: 31px;
        margin: 53.11px auto 29px auto;
      }
      .title__third {
        font-size: 21px;
        letter-spacing: 6.3px;
        margin-top: 0;
        margin-bottom: 113px;
      }
    }
    .content__title {
      top: 279px;
      .title__scroll {
        width: 51px;
        height: 99.5px;
      }
    }
    .content__card-list {
      top: 904px;
      left: 40.3vw;
      display: flex;
      flex-direction: row;

      .content__card {
        width: 311px;
        height: 417px;
        border-radius: 45px;
        box-shadow: 0px 7px 20px #acb9ba;
        margin-right: 21px;
        margin-left: 21px;
        margin-bottom: 50px;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        cursor: pointer;

        .card__info {
          width: 100%;
          margin: 18px 16px;
          padding: 16px 11px 11px 11px;
          border-radius: 38px;
          background-color: #fff;
          text-align: center;
          .card__title {
            line-height: 25px;
            letter-spacing: 2.7px;
            font-size: 18px;
            color: $main-color;
            padding-bottom: 6.5px;
          }
          .card__price {
            line-height: 21px;
            letter-spacing: 0px;
            font-size: 18px;
            color: $brown;
          }
        }
      }
      .card--1 {
        background-image: url("~@img/prod-1.png");
      }
      .card--2 {
        background-image: url("~@img/prod-2.png");
      }
      .card--3 {
        background-image: url("~@img/prod-3.png");
      }
    }
    .content__slogan {
      top: 2109px;
      left: 175px;
      width: 692px;
      margin: 0;
      font-size: 80px;
      font-family: $main-font;
      font-weight: inherit;
      color: $main-color;
      letter-spacing: 24px;
      line-height: 116px;
    }
    .content__brand-serif {
      top: 2486px;
      right: 132px;
      width: 110px;
      height: 128px;
    }
    // END OF HEAD
    // PRODUCT
    .content__disp--1 {
      width: 521px;
      height: 551px;
      top: 4171px;
      right: 399px;
    }
    .content__disp--2 {
      width: 289px;
      height: 443px;
      top: 4131px;
      right: 131px;
    }
    .content__disp--3 {
      width: 447px;
      height: 408px;
      top: 3839px;
      right: 95px;
    }
    .content__brand-serif--white {
      width: 117px;
      height: 136px;
      top: 4773px;
      left: 151px;
    }
    .content__cure {
      top: 3554px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cure__slogan,
      .cure__sub,
      .cure__see-more {
        font-family: $main-font;
        color: $main-color;
        text-align: center;
      }
      .cure__slogan {
        font-weight: $ultraligh;
        font-size: 80px;
        letter-spacing: 20px;
        line-height: 120.5px;
        margin: 0px auto 68.3px auto;
      }
      .cure__sub {
        font-weight: $light;
        font-size: 18px;
        letter-spacing: 5.4px;
        line-height: 30.5px;
        margin: 0px auto 71.6px auto;
      }
    }
    .btn--wt {
      font-weight: $thin;

      width: 382px;
      height: 95px;
      background-color: #ffffff;
      border-radius: 48px;
      box-shadow: 0px 7px 20px #acb9babf;
      display: block;

      text-align: center;
      line-height: 95px;
      font-size: 24px;
      letter-spacing: 6px;

      transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        box-shadow 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .btn--wt:hover {
      transform: translateY(-10px);
      box-shadow: 0px 17px 25px #acb9babf;
    }
    .btn--wt:active {
      transition-duration: 0s;
      background-color: rgb(230, 230, 230);
      transform: translateY(5px);
      box-shadow: 0px 2px 20px #acb9babf;
    }
    // END OF PRODUCT
    // INGREDIENT
    .content__ingredient-label {
      width: 710px;
      height: 83px;
      top: 5474px;
      right: 3.75vw;
    }
    .content__ingredient-list {
      top: 5830px;
      right: 332.64px;
      .ingerdient__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 600px;
        height: 153.71px;
        span {
          font-weight: $light;
          font-size: 20px;
          font-family: $main-font;
          color: $main-color;
          letter-spacing: 5px;
        }
        svg {
          width: 153.709px;
          height: 153.709px;
        }
      }
      .ingerdient__item--2 {
        transform: translate(-181.33px, -42px);
      }
      .ingerdient__item--3 {
        transform: translate(-303.33px, -63px);
      }
    }
    .content__ingredient-describe {
      top: 6465px;
      left: 198px;
    }
    .describe {
      width: 384px;
      font-family: $main-font;
      color: $main-color;
      h4 {
        font-size: 30px;
        letter-spacing: 15px;
        font-weight: $semi-bold;
        margin: 0px 0px 45.3px 0px;
        line-height: 42px;
      }
      p {
        font-weight: $light;
        font-size: 18px;
        letter-spacing: 4.5px;
        line-height: 48px;
        margin: 0;
      }
    }
    .content__ingredient-buy {
      top: 6943px;
      left: 50%;
      transform: translateX(-50%);
    }
    .content__ingredient-buy:hover {
      transform: translate(-50%, -10px);
    }
    .content__ingredient-warn {
      top: 6205px;
      right: 33.17px;
      writing-mode: vertical-rl;
      text-orientation: sideways-right;
      font-weight: $light;
      font-size: 13px;
      letter-spacing: 3.25px;
      color: $main-color;
      opacity: 0.5;
    }
    // END OF INGREDIENT
    // SHOP LIST
    .content__shop-title {
      width: 556px;
      height: 83px;
      top: 7367px;
      left: 50%;
      transform: translateX(-50%);
    }
    .content__shop-bar {
      width: 417px;
      height: 2px;
      top: 7522px;
      left: 50%;
      transform: translateX(-50%);
    }
    .content__shop-list-wrapper {
      top: 7643px;
      width: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .content__shop-list-wrapper::-webkit-scrollbar {
      display: none;
      width: 0px;
      height: 0px;
    }
    // END OF SHOP LIST
    // PROCESS
    .content__process-label {
      width: 485px;
      height: 82px;
      top: 8552px;
      right: 81.6px;
    }
    .content__process-describe {
      top: 9254px;
      left: 301px;
      p {
        line-height: 38px;
      }
    }
    .content__process-env {
      top: 9546px;
      left: 50%;
      transform: translateX(-50%);
    }
    .content__process-env:hover {
      transform: translate(-50%, -10px);
    }
    .content__process-title {
      top: 9883px;
    }
    .content__process-media {
      top: 10135px;
      left: 50%;
      transform: translateX(-50%);

      .media__fb,
      .media__ig {
        width: 44px;
        height: 45px;
      }
      .media__fb {
        margin-right: 68px;
      }
    }
    // END OF PROCESS
    // FOOTER
    .content__footer-allrights {
      left: 29px;
      bottom: 22px;
      font-size: 12px;
      letter-spacing: 0.6px;
      font-weight: $light;
      color: $second-color;
    }
    .content__footer-priciples {
      left: 15.73vw;
      bottom: 61px;
      font-family: $main-font;
      color: $second-color;
      display: flex;
      flex-direction: column;
      .principles__title {
        font-weight: $semi-bold;
        line-height: 28px;
        font-size: 20px;
        letter-spacing: 4px;
        margin: 0;
        margin-bottom: 17px;
      }
      .principles__describe-wrapper {
        display: flex;
        flex-direction: row;
        font-weight: $thin;
        font-size: 12px;
        letter-spacing: 0px;
        line-height: 20.6px;
        .principles__describe {
          width: 223px;
          margin: 0px;
          margin-left: 59px;
        }
      }
    }
    .content__footer-links {
      width: 440px;
      bottom: 55.6px;
      right: 135px;
      display: flex;
      flex-wrap: wrap;

      .footer__link {
        text-align: center;
        display: block;
        width: 205px;
        height: 40px;
        background-color: #fff;
        box-shadow: 0px 3px 7px #acb9babf;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px 10px 9px 10px;
        margin: 0px 6px 17.6px 6px;
        color: $second-color;
        font-weight: $regular;
        font-size: 15px;
        letter-spacing: 6px;
      }
    }
    // END OF FOOTER
  }

  // 1440px 以上等比例放大
  @media screen and (min-width: 1441px) {
    &__bg {
      .bg__1 {
        height: 181.6vw;
      }
      .bg__2 {
        height: 104.1vw;
        margin-top: 38.4vw;
      }
      .bg__3 {
        height: 145.9vw;
        margin-top: 36.9vw;
      }
      .bg__4 {
        height: 146.3vw;
        margin-top: 77.8vw;
      }
      .bg__footer {
        height: 14.7vw;
      }
    }

    &__overlay {
      .obj__1 {
        width: 33.5vw;
        height: 36.2vw;
        top: -3vw;
        left: -1.6vw;
      }
      .obj__2 {
        width: 41.7vw;
        height: 22.3vw;
        top: -0.3vw;
        right: 0;
      }
      .obj__3 {
        width: 34.2vw;
        height: 53.7vw;
        top: 46.2vw;
        left: 0;
      }
      .obj__4 {
        width: 42.5vw;
        height: 75.7vw;
        top: 35.6vw;
        right: -4vw;
      }
      .obj__5 {
        width: 39.2vw;
        height: 56.5vw;
        top: 271.88vw;
        left: 0px;
      }
      .obj__6 {
        width: 30.9vw;
        height: 50.76vw;
        top: 219.9vw;
        right: 0px;
      }
      .obj__7 {
        width: 21vw;
        height: 66.7vw;
        top: 359.9vw;
        left: 0px;
      }
      .obj__8 {
        width: 54.65vw;
        height: 38.4vw;
        top: 406.9vw;
      }
      .obj__9 {
        width: 21.2vw;
        height: 32.1vw;
        top: 454vw;
      }
      .obj__sakura {
        width: 75.6vw;
        height: 43.4vw;
        top: 595.8vw;
        left: 9.8vw;
      }
      .obj__10 {
        width: 26.1vw;
        height: 31.6vw;
        top: 617.5vw;
      }
      .obj__11 {
        width: 27.4vw;
        height: 40.6vw;
        top: 622.36vw;
      }
    }

    &__content {
      // HEAD
      .brand-title {
        .title__logo {
          width: 14.63vw;
          height: 1.868vw;
        }
        .title__sub {
          max-width: 31.53vw;
          font-size: 1.67vw;
          letter-spacing: 0.83vw;
          padding: 0.875vw 3.715vw 1.07vw 3.715vw;
          border: 0.75px solid $main-color;
          border-radius: 2vw;
          margin: 3.69vw auto 2.01vw auto;
        }
        .title__third {
          font-size: 1.46vw;
          letter-spacing: 0.4375vw;
          margin-bottom: 7.85vw;
        }
      }
      .content__title {
        top: 19.38vw;

        .title__scroll {
          width: 3.54vw;
          height: 6.9vw;
        }
      }
      .content__slogan {
        top: 146.46vw;
        left: 12.15vw;
        width: 48.06vw;
        font-size: 5.56vw;
        letter-spacing: 1.67vw;
        line-height: 8.06vw;
      }
      .content__brand-serif {
        top: 172.64vw;
        right: 9.17vw;
        width: 7.64vw;
        height: 8.89vw;
      }
      .content__card-list {
        top: 62.78vw;
        left: 40.3vw;

        .content__card {
          width: 21.6vw;
          height: 29vw;
          border-radius: 3.13vw;
          margin-right: 2.85vw;

          .card__info {
            margin: 1.25vw 1.11vw;
            padding: 1.11vw 0.76vw 0.76vw 0.76vw;
            border-radius: 2.64vw;
            .card__title {
              line-height: 1.74vw;
              letter-spacing: 0.188vw;
              font-size: 1.25vw;
              padding-bottom: 0.45vw;
            }
            .card__price {
              line-height: 1.46vw;
              font-size: 1.25vw;
            }
          }
        }
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        width: 36.2vw;
        height: 38.3vw;
        top: 289.7vw;
        right: 27.7vw;
      }
      .content__disp--2 {
        width: 20.1vw;
        height: 30.8vw;
        top: 286.9vw;
        right: 9.1vw;
      }
      .content__disp--3 {
        width: 31vw;
        height: 28.3vw;
        top: 266.6vw;
        right: 6.6vw;
      }
      .content__brand-serif--white {
        width: 8.1vw;
        height: 9.4vw;
        top: 331.5vw;
        left: 10.5vw;
      }
      .content__cure {
        top: 246.8vw;

        .cure__slogan {
          font-size: 5.56vw;
          letter-spacing: 1.39vw;
          line-height: 8.37vw;
          margin: 0px auto 4.74vw auto;
        }
        .cure__sub {
          font-size: 1.25vw;
          letter-spacing: 0.375vw;
          line-height: 2.19vw;
          margin: 0px auto 5vw auto;
        }
      }
      .btn--wt {
        width: 26.5vw;
        height: 6.6vw;
        border-radius: 9.9vw;

        line-height: 6.6vw;
        font-size: 1.7vw;
        letter-spacing: 0.42vw;
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 49.3vw;
        height: 5.76vw;
        top: 380.1vw;
        right: 3.75vw;
      }
      .content__ingredient-list {
        top: 404.86vw;
        right: 23.1vw;
        .ingerdient__item {
          width: 41.67vw;
          height: 10.67vw;
          span {
            font-size: 1.4vw;
            letter-spacing: 0.35vw;
          }
          svg {
            width: 10.67vw;
            height: 10.67vw;
          }
        }
        .ingerdient__item--2 {
          transform: translate(-12.6vw, -2.9vw);
        }
        .ingerdient__item--3 {
          transform: translate(-21vw, -4.38vw);
        }
      }
      .content__ingredient-describe {
        top: 449vw;
        left: 13.75vw;
      }
      .describe {
        width: 26.7vw;
        h4 {
          font-size: 2.1vw;
          letter-spacing: 1.04vw;
          margin: 0px 0px 3.15vw 0px;
          line-height: 2.9vw;
        }
        p {
          font-size: 1.25vw;
          letter-spacing: 0.31vw;
          line-height: 3.3vw;
        }
      }
      .content__ingredient-buy {
        top: 482.15vw;
      }
      .content__ingredient-warn {
        top: 431vw;
        right: 2.3vw;
      }
      // END OF INGREDIENT
      // SHOP LIST
      .content__shop-title {
        width: 38.6vw;
        height: 5.76vw;
        top: 511.6vw;
      }
      .content__shop-bar {
        width: 28.96vw;
        height: 0.13vw;
        top: 522.36vw;
      }
      .content__shop-list-wrapper {
        top: 530.76vw;
      }
      // END OF SHOP LIST
      // PROCESS
      .content__process-label {
        width: 33.68vw;
        height: 5.7vw;
        top: 593.9vw;
        right: 5.67vw;
      }
      .content__process-describe {
        top: 642.64vw;
        left: 20.9vw;
        p {
          line-height: 2.64vw;
        }
      }
      .content__process-env {
        top: 662.9vw;
      }
      .content__process-title {
        top: 686.32vw;
      }
      .content__process-media {
        top: 703.82vw;

        .media__fb,
        .media__ig {
          width: 3.05vw;
          height: 3.125vw;
        }
        .media__fb {
          margin-right: 4.72vw;
        }
      }
      // END OF PROCESS
      // FOOTER
      .content__footer-allrights {
        left: 2vw;
        bottom: 1.53vw;
        font-size: 0.83vw;
        letter-spacing: 0.1vw;
      }
      .content__footer-priciples {
        left: 15.73vw;
        bottom: 4.24vw;
        .principles__title {
          line-height: 1.94vw;
          font-size: 1.39vw;
          letter-spacing: 0.28vw;
          margin-bottom: 1.18vw;
        }
        .principles__describe-wrapper {
          font-size: 0.83vw;
          line-height: 1.43vw;
          .principles__describe {
            width: 15.48vw;
            margin-left: 4.1vw;
          }
        }
      }
      .content__footer-links {
        width: 30.56vw;
        bottom: 3.86vw;
        right: 9.375vw;

        .footer__link {
          width: 14.24vw;
          height: 2.78vw;
          border-radius: 1.39vw;
          padding: 0.69vw 0.69vw 0.625vw 0.69vw;
          margin: 0px 0.42vw 1.22vw 0.42vw;
          font-size: 1.04vw;
          letter-spacing: 0.41vw;
        }
      }
      // END OF FOOTER
    }
  }

  // 設計稿：1024px 以上
  @media screen and (max-width: 1280px) {
    &__overlay {
      .obj__2 {
        right: -222px;
      }
      .obj__4 {
        right: -185px;
      }
      .obj__7 {
        left: -45px;
      }
      .obj__8 {
        top: 5837px;
        right: -217px;
      }
      .obj__9 {
        top: 6500px;
      }
      .obj__sakura {
        left: -32px;
      }
      .obj__10 {
        left: -163px;
      }
      .obj__11 {
        right: -243px;
      }
    }

    &__content {
      // HEAD
      .content__slogan {
        left: 107px;
      }
      .content__brand-serif {
        right: 89px;
      }
      .content__card-list {
        left: 40.3vw;
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        right: 27.1vw;
      }
      .content__disp--2 {
        right: 1vw;
      }
      .content__disp--3 {
        right: -2.5vw;
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 717px;
        height: 120px;
        top: 5416px;
        right: 0vw;
      }
      .content__ingredient-list {
        top: 5807px;
        right: 115.64px;
      }
      .content__ingredient-describe {
        top: 6429px;
        left: 128px;
      }
      .content__ingredient-warn {
        top: 6221px;
        right: 21px;
      }
      // END OF INGREDIENT
      // SHOP LIST
      .content__shop-title {
        top: 7361px;
      }
      .content__shop-list-wrapper {
        top: 7645px;
      }
      // END OF SHOP LIST
      // PROCESS
      .content__process-label {
        top: 8544px;
        right: 18px;
      }
      .content__process-describe {
        left: 173px;
      }
      // END OF PROCESS
      // FOOTER
      .content__footer-priciples {
        left: 3.56vw;
        bottom: 61.22px;
      }
      .content__footer-links {
        right: 3.9vw;
      }
      // END OF FOOTER
    }
  }

  // 設計稿：768px 以上
  @media screen and (max-width: 1023px) {
    &__bg {
      .bg__1 {
        background-position-x: 35%;
      }
      .bg__footer {
        height: 321px;
      }
    }

    &__overlay {
      .obj__2 {
        right: -452px;
      }
      .obj__3 {
        top: 619px;
        left: -44px;
      }
      .obj__4 {
        top: 528px;
        right: -441px;
      }
      .bg__footer {
        height: 321px;
      }
      .obj__6 {
        right: -29px;
      }
      .obj__7 {
        width: 212px;
        height: 678px;
        top: 5209px;
        left: -40px;
      }
      .obj__8 {
        width: 712px;
        height: 501px;
        top: 5745px;
        right: -180px;
      }
      .obj__9 {
        top: 6455px;
        right: -129px;
      }
      .obj__sakura {
        width: 876px;
        height: 503px;
        top: 8600px;
        left: -39px;
      }
      .obj__10 {
        width: 285px;
        height: 344px;
        top: 8507px;
        left: -9px;
      }
      .obj__11 {
        width: 212px;
        height: 314px;
        top: 9004px;
        right: -55px;
      }
    }

    &__content {
      // HEAD
      .brand-title {
        .title__sub {
          width: 380px;
        }
      }
      .content__slogan {
        left: 38px;
      }
      .content__brand-serif {
        right: 61px;
      }
      .content__card-list {
        left: 46.6vw;
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        right: 26.7vw;
      }
      .content__disp--2 {
        right: -8.2vw;
      }
      .content__disp--3 {
        right: -12.9vw;
      }
      .content__cure {
        min-width: 642px;
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 538px;
        height: 90px;
        top: 5435px;
        right: 2.6vw;
      }
      .content__ingredient-list {
        top: 5714px;
        right: 116.75px;
      }
      .content__ingredient-list {
        top: 5718px;
        right: 120.95px;
        .ingerdient__item {
          width: 500px;
          height: 138.34px;
          span {
            font-size: 18px;
            letter-spacing: 4.5px;
          }
          svg {
            width: 138.34px;
            height: 138.34px;
          }
        }
        .ingerdient__item--2 {
          transform: translate(-165.37px, -37.8px);
        }
        .ingerdient__item--3 {
          transform: translate(-265.26px, -60.7px);
        }
      }
      .content__ingredient-describe {
        top: 6347px;
        left: 85px;
      }
      .content__ingredient-warn {
        top: 6114px;
        right: 14px;
      }
      // END OF INGREDIENT
      // SHOP LIST
      .content__shop-title {
        top: 7383px;
        width: 424px;
        height: 90px;
      }
      // END OF SHOP LIST
      // PROCESS
      .content__process-label {
        top: 8542px;
        right: 33px;
        width: 371px;
      }
      .content__process-describe {
        top: 9189px;
        left: 84px;
      }
      .content__process-env {
        top: 9507px;
      }
      .content__process-title {
        top: 9846px;
      }
      .content__process-media {
        top: 10098px;
      }
      // END OF PROCESS
      // FOOTER
      .content__footer-priciples {
        left: 3.9vw;
        bottom: 75px;
        .principles__title {
          margin-bottom: 29px;
        }
        .principles__describe-wrapper {
          flex-direction: column;
          .principles__describe-list {
            margin-bottom: 29px;
          }
          .principles__describe {
            width: 223px;
            margin-left: 0px;
          }
        }
      }
      .content__footer-links {
        right: 5.34vw;
        bottom: 131px;
      }
      // END OF FOOTER
    }
  }

  // 設計稿：手機版
  @media screen and (max-width: 767px) {
    &__bg {
      .bg__1 {
        height: 1847px;
        background-position-x: center;
      }
      .bg__2 {
        height: 1059px;
        margin-top: 315px;
      }
      .bg__3 {
        height: 1350px;
        margin-top: 287px;
      }
      .bg__4 {
        height: 1303px;
        margin-top: 611px;
        margin-bottom: -40px;
      }
      .bg__footer {
        height: 560px;
      }
    }

    &__overlay {
      .obj__1 {
        width: 187px;
        height: 202px;
        top: 0px;
        left: 0px;
      }
      .obj__2 {
        width: 300px;
        height: 160px;
        top: 0px;
        right: -93px;
      }
      .obj__3 {
        width: 253px;
        height: 396px;
        top: 514px;
        left: -27px;
      }
      .obj__3--mobile {
        position: absolute;
        display: block;
        visibility: visible;
        width: 188px;
        height: 296px;
        left: -23px;
        top: 1750px;
      }
      .obj__4 {
        width: 222px;
        height: 395px;
        top: 293px;
        right: -54px;
      }
      .obj__5 {
        width: 194px;
        height: 365px;
        top: 2952px;
        left: -59px;
      }
      .obj__6 {
        width: 230px;
        height: 378px;
        top: 2226px;
        right: -55px;
      }
      .obj__7 {
        width: 131px;
        height: 416px;
        top: 3470px;
        left: -78px;
      }
      .obj__8 {
        width: 403px;
        height: 283px;
        top: 3869px;
        right: -141px;
      }
      .obj__9 {
        width: 124px;
        height: 188px;
        top: 4585px;
        right: -7px;
      }
      .obj__sakura {
        width: 577px;
        height: 331px;
        top: 5652px;
        left: -73px;
      }
      .obj__10 {
        width: 215px;
        height: 259px;
        top: 5513px;
        left: 0px;
      }
      .obj__11 {
        width: 150px;
        height: 222px;
        top: 5885px;
        right: -111px;
      }
    }

    &__content {
      // HEAD
      .brand-title {
        .title__logo {
          width: 125px;
          height: 16px;
        }
        .title__sub {
          width: 230px;
          font-size: 15px;
          letter-spacing: 7.5px;
          padding: 7.6px 24px 7.4px 24px;
          border: 0.75px solid $main-color;
          border-radius: 25px;
          margin: 31.1px auto 16.9px auto;
        }
        .title__third {
          font-size: 13px;
          letter-spacing: 3.9px;
          margin-bottom: 87.1px;
        }
      }
      .content__title {
        top: 209px;
      }
      .content__slogan {
        top: 1516px;
        left: 29px;
        width: 354px;
        font-size: 50px;
        letter-spacing: 15px;
        line-height: 72.5px;
      }
      .content__brand-serif {
        top: 1734px;
        right: 30px;
        width: 67px;
        height: 77px;
      }

      .content__card-list {
        top: 590px;
        left: 33.8vw;

        .content__card {
          width: 226px;
          height: 303px;
          margin-right: 25px;

          .card__info {
            margin: 18px;
            padding: 10.8px 18px 6.75px 18px;
            border-radius: 27px;
            .card__title {
              line-height: 18px;
              letter-spacing: 1.95px;
              font-size: 13px;
              padding-bottom: 3.4px;
            }
            .card__price {
              line-height: 15px;
              font-size: 13px;
            }
          }
        }
      }
      // END OF HEAD
      // PRODUCT
      .content__disp--1 {
        width: 353px;
        height: 373px;
        top: 2814px;
        right: 90px;
      }
      .content__disp--2 {
        width: 195px;
        height: 299px;
        top: 2922px;
        right: -38px;
      }
      .content__disp--3 {
        width: 303px;
        height: 276px;
        top: 2615px;
        right: -128px;
      }
      .content__brand-serif--white {
        top: 3334px;
        left: 64px;
        width: 67px;
        height: 77px;
      }
      .content__cure {
        top: 2459px;
        min-width: 354px;

        .cure__slogan {
          font-size: 50px;
          letter-spacing: 12.5px;
          line-height: 72.5px;
          margin: 0px auto 53.3px auto;
        }
        .cure__sub {
          font-size: 13px;
          letter-spacing: 3.25px;
          line-height: 21.5px;
          margin: 0px auto 53px auto;
        }
      }
      .btn--wt {
        width: 280px;
        height: 60px;
        border-radius: 60px;

        line-height: 60px;
        font-size: 15px;
        letter-spacing: 3.75px;
      }
      // END OF PRODUCT
      // INGREDIENT
      .content__ingredient-label {
        width: 299px;
        height: 50px;
        top: 3678px;
        right: 4.3vw;
      }
      .content__ingredient-list {
        top: 3849.28px;
        right: 33.28px;
        .ingerdient__item {
          width: 300px;
          height: 101.4px;
          span {
            font-size: 13px;
            letter-spacing: 3.25px;
          }
          svg {
            width: 101.4px;
            height: 101.4px;
          }
        }
        .ingerdient__item--2 {
          transform: translate(-94px, -37px);
        }
        .ingerdient__item--3 {
          transform: translate(-150px, -65.7px);
        }
      }
      .content__ingredient-describe {
        top: 4286px;
        left: 50%;
        transform: translateX(-50%);
        width: 81%;
        max-width: 380px;
        h4 {
          text-align: center;
          font-size: 18px;
          letter-spacing: 9px;
          margin-bottom: 40.3px;
        }
        p {
          font-size: 14px;
          letter-spacing: 1.4px;
          line-height: 30px;
        }
      }
      .content__ingredient-buy {
        top: 4568px;
      }
      .content__ingredient-warn {
        top: 4109px;
        right: 11.2px;
        font-size: 9px;
        letter-spacing: 2.25px;
      }
      // END OF INGREDIENT
      .content__shop-title {
        width: 236px;
        height: 50px;
        top: 4875px;
      }
      .content__shop-bar {
        top: 4948px;
        width: 213px;
        height: 3px;
      }
      .content__shop-list-wrapper {
        top: 5033px;
      }
      // END OF SHOP LIST
      // PROCESS
      .content__process-label {
        top: 5592px;
        right: 23px;
        width: 206px;
      }
      .content__process-describe {
        top: 5997px;
        left: 28px;
        width: 228px;
        h4 {
          font-size: 18px;
          letter-spacing: 5.4px;
          margin-bottom: 28.3px;
        }
        p {
          font-size: 14px;
          letter-spacing: 1.4px;
          line-height: 25px;
        }
      }
      .content__process-env {
        top: 6161px;
      }
      .content__process-title {
        top: 6385px;
      }
      .content__process-media {
        top: 6540px;

        .media__fb,
        .media__ig {
          width: 28px;
          height: 28px;
        }
        .media__fb {
          margin-right: 42px;
        }
      }
      // END OF PROCESS
      // FOOTER
      .content__footer-priciples {
        left: 50%;
        transform: translateX(-50%);
        bottom: 303px;
        .principles__title {
          margin-bottom: 48px;
          text-align: center;
        }
        .principles__describe-wrapper {
          flex-direction: column;
          .principles__describe-list {
            margin-bottom: 30px;
          }
          .principles__describe {
            width: 84.8vw;
            max-width: 351px;
            margin-left: 0px;
          }
        }
      }
      .content__footer-links {
        right: 50%;
        bottom: 89.6px;
        transform: translateX(50%);
        flex-direction: column;
        align-items: center;
      }
      // END OF FOOTER
    }
  }
}
// shop list is used in MAINCONTENT & MENU
.shop-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: center;

  &__item {
    margin-right: 34px;
    display: flex;
    flex-direction: column;
    .shop-list__item-img {
      width: 307px;
      height: 413px;
      box-shadow: 0px 7px 20px #802a1599;
      border-radius: 10px;
    }
  }
  &__item-link {
    display: block;
    padding: 41.76px 10px;
    text-align: center;
    color: #fff;
    font-weight: $thin;
    font-size: 19px;
    letter-spacing: 4.75px;
    font-family: $main-font;
    .shop-list__item-arrow {
      width: 9px;
      height: 11px;
      margin-left: 24px;
    }
  }

  // 1440px 以上等比例放大
  @media screen and (min-width: 1441px) {
    &__item {
      margin-right: 2.36vw;
      .shop-list__item-img {
        width: 21.3vw;
        height: 28.7vw;
        border-radius: 0.69vw;
      }
    }
    &__item-link {
      padding: 2.9vw 0.69vw;
      font-size: 1.32vw;
      letter-spacing: 0.33vw;
      .shop-list__item-arrow {
        width: 0.625vw;
        height: 0.76vw;
        margin-left: 1.67vw;
      }
    }
  }

  // 設計稿：1024px 以上
  @media screen and (max-width: 1280px) {
    &__item {
      margin-right: 11px;
    }
  }

  // 設計稿：768px 以上
  @media screen and (max-width: 1023px) {
    justify-content: flex-start;
    // 子元素寬度總和
    width: fit-content;
    &__item:first-child {
      margin-left: 28.78vw;
    }
    &__item:last-child {
      margin-right: 28.78vw;
    }
  }

  // 設計稿：手機版
  @media screen and (max-width: 767px) {
    &__item {
      margin-right: 25px;
      .shop-list__item-img {
        width: 226px;
        height: 303px;
        border-radius: 45px;
      }
    }
    &__item:first-child {
      margin-left: 22.2vw;
    }
    &__item:last-child {
      margin-right: 22.2vw;
    }
    &__item-link {
      padding: 15px 5px;
      font-size: 15px;
      letter-spacing: 3.75px;
      .shop-list__item-arrow {
        width: 7px;
        height: 8px;
        margin-left: 15px;
      }
    }
  }
}
// MENU
.menu {
  // 設計稿：1440px
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0px;
  right: 0px;

  &__control {
    position: absolute;
    z-index: 100;
    top: 19px;
    right: 21px;

    .menu__toggle-nav {
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      padding: 10.5px 10.9px;
      background-color: #fff;
      box-shadow: 0px 2px 3px #838d8d66;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      .toogle-nav__bar {
        width: 18px;
        height: 3px;
        background-color: $main-color;
        box-sizing: border-box;
        transform-origin: 50% 50%;
      }
    }
    .menu__toggle-nav.is-open {
      .toogle-nav__bar:first-child {
        transform: rotate(45deg) translate(5px, 6px);
      }
      .toogle-nav__bar:nth-child(2) {
        opacity: 0;
      }
      .toogle-nav__bar:last-child {
        transform-origin: 50% 50%;
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
  &__navigation {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;

    .navigation__logo {
      width: 211px;
      height: 27px;
      margin-top: 72px;
      margin-bottom: 26.75px;
    }
    .navigation__shop-list-label {
      width: 200px;
      height: 15px;
      margin-bottom: 72.36px;
    }
    .navigation__shop-list-wrapper {
      width: 100vw;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .navigation__shop-list-wrapper::-webkit-scrollbar {
      display: none;
      width: 0px;
      height: 0px;
    }
    .navigation__shop-list {
      .shop-list__item {
        margin: 0px 30px 0px 30px;
        .shop-list__item-img {
          box-shadow: none;
          width: 266px;
          height: 358px;
        }
        .shop-list__item-link {
          font-size: 16px;
          color: #404040;
          padding: 19px 10px 60px 10px;
        }
      }
    }
  }

  // 1440px 以上等比例放大
  @media screen and (min-width: 1441px) {
    &__control {
      top: 1.32vw;
      right: 1.46vw;

      .menu__toggle-nav {
        width: 2.78vw;
        height: 2.78vw;
        padding: 0.729vw 0.757vw;
        border-radius: 0.417vw;
        .toogle-nav__bar {
          width: 1.25vw;
          height: 0.208vw;
        }
      }
    }
    &__navigation {
      .navigation__logo {
        width: 14.65vw;
        height: 1.875vw;
        margin-top: 5vw;
        margin-bottom: 1.86vw;
      }
      .navigation__shop-list-label {
        width: 6.53vw;
        height: 1.04vw;
        margin-bottom: 5vw;
      }
      .navigation__shop-list {
        .shop-list__item {
          margin: 0vw 2.08vw 0vw 2.08vw;
          .shop-list__item-img {
            width: 18.47vw;
            height: 24.86vw;
          }
          .shop-list__item-link {
            font-size: 1.1vw;
            padding: 1.32vw 0.69vw 3.47vw 0.69vw;
          }
        }
      }
    }
  }

  // 設計稿：1024px 以上
  @media screen and (max-width: 1280px) {
    &__navigation {
      .navigation__shop-list {
        .shop-list__item {
          margin: 0px 7.5px 0px 7.5px;
        }
      }
    }
  }

  // 設計稿：768px 以上
  @media screen and (max-width: 1023px) {
    &__navigation {
      .navigation__shop-list {
        .shop-list__item:first-child {
          margin-left: 10.8vw;
        }
        .shop-list__item:last-child {
          margin-right: 10.8vw;
        }
      }
    }
  }

  // 設計稿：手機版
  @media screen and (max-width: 767px) {
    &__navigation {
      .navigation__logo {
        margin-top: 90px;
      }
      .navigation__shop-list-label {
        margin-bottom: 50.36px;
      }
      .navigation__shop-list {
        .shop-list__item {
          .shop-list__item-img {
            width: 266px;
            height: 358px;
            border-radius: 10px;
          }
        }
        .shop-list__item:first-child {
          margin-left: 18.84vw;
        }
        .shop-list__item:last-child {
          margin-right: 18.84vw;
        }
      }
    }
  }

  @media screen and (max-width: 767px) and (max-height: 630px) {
    &__navigation {
      .navigation__logo {
        width: 50vw;
        height: 5.9vw;
        margin-top: 70px;
      }
      .navigation__shop-list-label {
        margin-bottom: 8vh;
      }
      .navigation__shop-list {
        .shop-list__item {
          .shop-list__item-img {
            width: 51.4vw;
            height: 69.18vw;
          }
          .shop-list__item-link {
            font-size: 12px;
          }
          .shop-list__item-arrow {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
