// GENERAL
html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang TC", "Segoe UI",
    "Noto Sans TC", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "Source Han Sans TC", sans-serif;
  // -apple-system,       /* iOS Safari, macOS Safari, macOS Firefox */
  // BlinkMacSystemFont,  /* macOS Chrome */
  // 'PingFang TC',       /* 蘋方 */
  // 'Segoe UI',          /* Windows, Windows Phone */
  // 'Noto Sans TC',      /* Google: 思源黑體 */
  // Roboto,              /* Google: Android, Chrome OS */
  // Ubuntu,              /* Linux: Ubanto */
  // 'Helvetica Neue'     /* OS X pre-EI Capitan */
  // Helvetica,
  // Arial,               /* Windows 3.1 */
  // 'Source Han Sans TC' /* Google: 思源黑體 */
  // sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// END OF GENERAL

// FIXBG
.fixbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &__img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &__maker {
    background: url("../../../assets/images/fixbg_maker.jpeg") center center
      no-repeat;
    background-size: cover;
  }
  &__fashion {
    background: url("../../../assets/images/fixbg_fashion.jpg") center center
      no-repeat;
    background-size: cover;
    display: none;
  }
  &__pure {
    background: url("../../../assets/images/fixbg_pure.jpg") center center
      no-repeat;
    background-size: cover;
    display: none;
  }
}
// MAINCONTENT
.maincontent {
  // 設計稿：1440px
  position: relative;
  z-index: 1;

  // SECTION 1
  &__bg {
    position: relative;
    width: 100vw;

    .bg {
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
    .bg__1 {
      background-image: url("../../../assets/images/bg-1.png");
      height: 2614px;
    }
    .bg__2 {
      background-image: url("../../../assets/images/bg-2.png");
      height: 1499px;
      margin-top: 552px;
    }
    .bg__3 {
      background-image: url("../../../assets/images/bg-3.png");
      height: 2100.7px;
      margin-top: 531px;
    }
    .bg__4 {
      background-image: url("../../../assets/images/bg-4.png");
      height: 2107px;
      margin-top: 1120.3px;
    }
    .bg__footer {
      width: 100vw;
      height: 212px;
      background-color: #fff;
    }
  }

  &__overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;

    .overlay__obj {
      position: absolute;
    }
    .obj__1 {
      width: 482px;
      height: 521px;
      top: -43px;
      left: -25px;
    }
    .obj__2 {
      width: 601px;
      height: 321px;
      top: -5px;
      right: 0;
    }
    .obj__3 {
      width: 493px;
      height: 773px;
      top: 655px;
      left: 0;
    }
    .obj__4 {
      width: 612px;
      height: 1090px;
      top: 521px;
      right: -58px;
    }
    .obj__3--mobile {
      display: none;
      visibility: hidden;
    }
    .obj__5 {
      width: 565px;
      height: 814px;
      top: 3915px;
      left: 0px;
    }
    .obj__6 {
      width: 445px;
      height: 731px;
      top: 3166px;
      right: 0px;
    }
    .obj__7 {
      width: 302px;
      height: 960px;
      top: 5182px;
      left: 0px;
    }
    .obj__8 {
      width: 787px;
      height: 553px;
      top: 5860px;
      right: 0px;
    }
    .obj__9 {
      width: 305px;
      height: 462px;
      top: 6538px;
      right: 0px;
    }
    .obj__sakura {
      width: 1088px;
      height: 625px;
      top: 8579px;
      left: 141px;
    }
    .obj__10 {
      width: 376px;
      height: 455px;
      top: 8892px;
      left: 0px;
    }
    .obj__11 {
      width: 394px;
      height: 584px;
      top: 8962px;
      right: 0px;
    }
  }

  // 1440px 以上等比例放大
  @media screen and (min-width: 1441px) {
    &__bg {
      .bg__1 {
        height: 181.6vw;
      }
      .bg__2 {
        height: 104.1vw;
        margin-top: 38.4vw;
      }
      .bg__3 {
        height: 145.9vw;
        margin-top: 36.9vw;
      }
      .bg__4 {
        height: 146.3vw;
        margin-top: 77.8vw;
      }
      .bg__footer {
        height: 14.7vw;
      }
    }

    &__overlay {
      .obj__1 {
        width: 33.5vw;
        height: 36.2vw;
        top: -3vw;
        left: -1.6vw;
      }
      .obj__2 {
        width: 41.7vw;
        height: 22.3vw;
        top: -0.3vw;
        right: 0;
      }
      .obj__3 {
        width: 34.2vw;
        height: 53.7vw;
        top: 46.2vw;
        left: 0;
      }
      .obj__4 {
        width: 42.5vw;
        height: 75.7vw;
        top: 35.6vw;
        right: -4vw;
      }
      .obj__5 {
        width: 39.2vw;
        height: 56.5vw;
        top: 271.88vw;
        left: 0px;
      }
      .obj__6 {
        width: 30.9vw;
        height: 50.76vw;
        top: 219.9vw;
        right: 0px;
      }
      .obj__7 {
        width: 21vw;
        height: 66.7vw;
        top: 359.9vw;
        left: 0px;
      }
      .obj__8 {
        width: 54.65vw;
        height: 38.4vw;
        top: 406.9vw;
      }
      .obj__9 {
        width: 21.2vw;
        height: 32.1vw;
        top: 454vw;
      }
      .obj__sakura {
        width: 75.6vw;
        height: 43.4vw;
        top: 595.8vw;
        left: 9.8vw;
      }
      .obj__10 {
        width: 26.1vw;
        height: 31.6vw;
        top: 617.5vw;
      }
      .obj__11 {
        width: 27.4vw;
        height: 40.6vw;
        top: 622.36vw;
      }
    }
  }

  // 設計稿：1024px 以上
  @media screen and (max-width: 1280px) {
    &__overlay {
      .obj__2 {
        right: -222px;
      }
      .obj__4 {
        right: -185px;
      }
      .obj__7 {
        left: -45px;
      }
      .obj__8 {
        top: 5837px;
        right: -217px;
      }
      .obj__9 {
        top: 6500px;
      }
      .obj__sakura {
        left: -32px;
      }
      .obj__10 {
        left: -163px;
      }
      .obj__11 {
        right: -243px;
      }
    }
  }

  // 設計稿：768px 以上
  @media screen and (max-width: 1023px) {
    &__bg {
      .bg__1 {
        background-position-x: 35%;
      }
    }

    &__overlay {
      .obj__2 {
        right: -452px;
      }
      .obj__3 {
        top: 619px;
        left: -44px;
      }
      .obj__4 {
        top: 528px;
        right: -441px;
      }
      .bg__footer {
        height: 321px;
      }
      .obj__6 {
        right: -29px;
      }
      .obj__7 {
        width: 212px;
        height: 678px;
        top: 5209px;
        left: -40px;
      }
      .obj__8 {
        width: 712px;
        height: 501px;
        top: 5745px;
        right: -180px;
      }
      .obj__9 {
        top: 6455px;
        right: -129px;
      }
      .obj__sakura {
        width: 876px;
        height: 503px;
        top: 8600px;
        left: -39px;
      }
      .obj__10 {
        width: 285px;
        height: 344px;
        top: 8507px;
        left: -9px;
      }
      .obj__11 {
        width: 212px;
        height: 314px;
        top: 9004px;
        right: -55px;
      }
    }
  }

  // 設計稿：手機版
  @media screen and (max-width: 767px) {
    &__bg {
      .bg__1 {
        height: 1847px;
        background-position-x: center;
      }
      .bg__2 {
        height: 1059px;
        margin-top: 315px;
      }
      .bg__3 {
        height: 1350px;
        margin-top: 287px;
      }
      .bg__4 {
        height: 1303px;
        margin-top: 611px;
        margin-bottom: -40px;
      }
      .bg__footer {
        height: 560px;
      }
    }

    &__overlay {
      .obj__1 {
        width: 187px;
        height: 202px;
        top: 0px;
        left: 0px;
      }
      .obj__2 {
        width: 300px;
        height: 160px;
        top: 0px;
        right: -93px;
      }
      .obj__3 {
        width: 253px;
        height: 396px;
        top: 514px;
        left: -27px;
      }
      .obj__3--mobile {
        position: absolute;
        display: block;
        visibility: visible;
        width: 188px;
        height: 296px;
        left: -23px;
        top: 1750px;
      }
      .obj__4 {
        width: 222px;
        height: 395px;
        top: 293px;
        right: -54px;
      }
      .obj__5 {
        width: 194px;
        height: 365px;
        top: 2952px;
        left: -59px;
      }
      .obj__6 {
        width: 230px;
        height: 378px;
        top: 2226px;
        right: -55px;
      }
      .obj__7 {
        width: 131px;
        height: 416px;
        top: 3470px;
        left: -78px;
      }
      .obj__8 {
        width: 403px;
        height: 283px;
        top: 3869px;
        right: -141px;
      }
      .obj__9 {
        width: 124px;
        height: 188px;
        top: 4585px;
        right: -7px;
      }
      .obj__sakura {
        width: 577px;
        height: 331px;
        top: 5652px;
        left: -73px;
      }
      .obj__10 {
        width: 215px;
        height: 259px;
        top: 5513px;
        left: 0px;
      }
      .obj__11 {
        width: 150px;
        height: 222px;
        top: 5885px;
        right: -111px;
      }
    }
  }
}
// MENU
